.dashboard-container {
    display: flex;
    background-color: #f4f4f9;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .sidebar .logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .sidebar-menu li:hover {
    background-color: #444;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  h2{
    color: white;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .submit-btn:active {
    background-color: #3e8e41;
  }
  
  /* Estilo adicional para las secciones */
  .avisos-list {
    list-style: none;
    padding: 0;
  }
  
  .aviso {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 6px;
  }
  
  .aviso h4 {
    margin: 0;
  }
  
  .registrar-ficha-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  