.dashboard-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50; /* Cambié el fondo de la barra lateral a un color oscuro */
  padding: 2rem;
 color: #ecf0f1; /* Color de texto blanco para que resalte sobre el fondo oscuro */
}

.sidebar-menu li {
  padding: 10px;
  cursor: pointer;
  color: #1c5766; /* Color de texto de los elementos del menú */
}

.sidebar-menu li:hover {
  background-color: #34495e; /* Color de fondo al hacer hover */
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  background-color: #fff;
}

h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: rgb(237, 14, 14);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Cambié los botones de la barra lateral para que se destaquen */
.sidebar-menu li:hover button {
  background-color: #3498db; /* Color azul para el botón al pasar el ratón */
}
